body { background-color: #FFFF66 }
html {
       background-color: #FFFF66;
     }
div.spadcommand, div.spadgraph 
      {
                              display: block;
                              font-size: large;
			      color: black;
			      padding: 5pt 10pt;
			      border: inset 1pt;
			      border-color: silver;
                              margin-top: 1em;
			      margin-bottom: 1em;
}
form { display: inline;}
input.command {
                              display: inline;
                              font-size: 12pt;
			      padding: 5pt 10pt;
			      border: inset 1pt;
			      border-color: silver;
                              margin-top: 1em;
			      margin-bottom: 1em;
}
input.restore {
                              display: inline;
			      margin-bottom: 1em;
}
div.axerror {text-align: center; font-family: monospace; font-size: 12pt;}
div.mathbox {border: solid; border: outset 1pt; border-color: silver; 
	     padding: 2pt;}
div.boxed {
	       text-align: left;
}
div.boxed2 {
               display: block;
               padding: 2em;
               border: solid 2pt;
	       width: 60%;
	       text-align: center;
	       margin-top: 1em;
	       margin-left: auto; margin-right: auto;
}
div.center  {
              padding-top: 10px; padding-bottom: 10px;
            }
div.returnType {
                      margin-top: 1em;
		      margin-bottom: 1em;
		      text-align: center;
}
div.quote { border: solid 1pt; margin-left: 10%; margin-right: 10%; 
            padding: 1em;
}
div.quotation {text-align: left; margin-left: 15%; margin-right: 15%;}
div.person {margin-top: 1em;}
div.item {margin-top: 1em;}
div.centerline {text-align: center; margin-top: 1em; margin-bottom: 1em;}
div.image {text-align: center;}
div.figcaption  {text-align: center;}
span.index {
                 visibility: hidden;
}
span.commSav {visibility: hidden;}
dt {
          font-weight: bold;
          padding: 1em;
         }
span.index {
                  display: none;
}
span.funArgs {font-style: italic; font-weight: normal;}
span.argDef {font-weight: bold;}
span.hspace75pc {margin-left: 1em;}
span.hspace200pc {margin-left: 2em;}
span.hspace300pc {margin-left: 3em;}
span.hspace600pc {margin-left: 6em;}
span.teletype {font-family: monospace; font-size: 12pt;}
span.aliascon {font-family: monospace; font-size: 12pt;}
span.italic {font-style: italic;}
span.slant {font-style: italic;}
span.bold {font-weight: bold;}
span.em {font-weight: bold;}
span.spadfunFrom {font-weight: bold;}
span.spadopFrom {font-weight: bold;}
table.begintabular {
                margin-top: 1em; 
		text-align: left;         
}
table.begintabular td {padding-left: 1em; vertical-align: top;}
table.image  {padding-left: 100px;}
span.verbatim {
                     padding: 0em 0em 0em 2em;
}
div.verbatim {
                padding: 0em 0em 0em 2em; margin-bottom: 1em;
		font-family: monospace; font-size: 10pt;
}
div.math { text-align: center; padding: 20pt;}
div.math math {
                   border: none;
		   padding: 0em 0em;
		   margin-top: 0pt;
}
div.math table tr td { }
div.math table {margin-left: auto; margin-right: auto; }
div#verbatimtable2 td {padding-left: 1em; padding-right: 1em;}
div#verbatimtable1 td {padding-left: 1em; padding-right: 1em;}
div#verbatimtable3 td {padding-left: 1em; padding-right: 1em;}
table.category-domain-package tr td:first-child {color: blue;
               vertical-align: top;}
a.subseccontents {padding-left: 2em;}
a.subsubseccontents {padding-left: 4em;}