/* Reset all white-space to 0 for consistency across browsers */
* { margin:0px; padding:0px; } 

/* Default to some sans-serif font at a specific size */
body { font-family: Verdana, Arial, sans-serif; font-size:12px;  }

/* Get some padding between paragraphs and some line spacing */
p { padding-bottom:5px; line-height:1.4em; }

/* Put some padding back onto our list elements */
ul, ol { margin-left: 10px; }
li  { margin-left:10px; padding-left:10px; }

/* Bye bye ugly blue border */
a img { border:0px; } 

/* No dots around clicked links */
/*a, a:active { outline: none; text-decoration: underline; }  */
A:link {text-decoration: underline; }

/* Class to any floated elements */
.clear { clear:both; }

/*------------------------------------------------------------------*/

/* Set the width to 900 pixels, centered on the page with a little 
  padding on top */
#container { width:900px; margin:0 auto; padding-top:10px; }

/* 90 pixels to work with at the top - positioned relative so that we 
   can absolutely position our header elements easily */
#header { height:180px; position:relative; }
#logo { position:absolute; left:0px; top:0px; }
#tagline { position:absolute; right:0px; top:5px; color:#666666; 
           font-size:20px; font-weight:bold; }

/* Quick right-aligned tab-looking text menu */
/* Make sure to be explicit with the padding and margin on our ul and li 
   elements so we can change the defaults later on as necessary */
#main_menu {height:10px; margin:auto solid #ECEA81; margin-bottom:30px; }
#main_menu ul { display:block; float:left; margin-right:auto; }
#main_menu2 ul { display:block; margin-left:auto; margin-right:auto; }
#main_menu li { display:block; float:left; margin:0 5px; padding:0px;  }
#main_menu a { 
  display:block;
/*  float:left;  Needed for IE */
  padding:5px 20px;
  color: #000000;
  background-color: #448822;
  text-decoration:none;
}
#main_menu a:hover { color: #000000; background-color:#666666; }

#content_container { 
   padding:10px 0px; 
   border-bottom: 0px solid #CCCCCC;
   /* Do the IE hack to get a minimum content container height */
   height:auto !important; 
   height:500px;
   min-height:500px; 
}

/* Floating left and then right means that we can play with the widths of 
   the sidebar and content separately and not worry about explicitly setting 
   the space between */
#sidebar { float:left; width:200px; }
.sidebar_heading { font-weight:bold; padding-bottom:5px; 
                   border-bottom:0px solid #CCCCCC; margin-bottom: 10px;}
.sidebar_heading a { color: #000000; text-decoration:none; }
.sidebar_heading a:hover { color: #000000; }
.sidebar_heading a:visited { color: #000000; }

.sidebar_body { padding-bottom:10px; }
.sidebar_body a { color: #000000; text-decoration:none; }
.sidebar_body a:hover { color: #AA0000; text-decoration:underline; }
.sidebar_body a:visited { color: #880000; }

#content { float:right; width:650px; }
#content a { color: #880000; text-decoration:none; }
#content a:hover { text-decoration:underline; }

#footer { height:20px; position:relative; }
#copyright { position:absolute; top:5px; right:0px; font-size:10px; 
             color:#999999; }

#top_right_img { float:right; }

