body{
  overflow:hidden;
  background-color: #ECEA81;
}

#maps{
  position:absolute;
  top:2px;
  left:0px;
  background:url(axiomicon.png) 40px 9px no-repeat;
  font: 12px Arial, sans-serif;
}

#maps > a{
  display:block;
  float:left;
  width:17px;
  height:64px;
  margin:20px 0 0 16px;
  text-indent:-99999px;
}
#maps > a:hover{
}

#maps ul{
  list-style-type:none;
  margin:28px 0 0 80px;
}
#maps li{
  float:left;
  margin-right:20px;
}

#maps li a{
  text-decoration:none;
  color:#999;
}

#maps li a:hover{
  color:red;
}

#maps li a.active{
  font-weight:bold;
  color:#333;
}

#dataset{
  position:fixed;
  bottom:20px;
  right:20px;
  font: 10px Arial, sans-serif;
  background:#ECEA81;
}

#dataset a{
  color:#666;
  text-decoration:underline;
}

#dataset a:hover{
  color:black;
  text-decoration:underline;
}



